{% extends 'dashboard/base.html' %}

{% block content %}
    <h2>Products</h2>
    <p>Manage your products here.</p>
    
    <table class="table table-striped shadow">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>iPhone 15</td>
                <td>$1200.00</td>
                <td>
                    <form action="{% url 'create_checkout_session' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="name" value="iPhone 15 256GB Memory">
                        <input type="hidden" name="price" value="1200.00">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy Now</button>
                    </form>
                </td>
            </tr>
            <!-- <tr>
                <td>Airpods Wireless Bluetooth Headphones</td>
                <td>$169.99</td>
                <td>
                    <form action="{% url 'create_checkout_session' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="name" value="Airpods Wireless Bluetooth Headphones">
                        <input type="hidden" name="price" value="169.99">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy Now</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>Sony Playstation 5 Pro White Version</td>
                <td>$499.99</td>
                <td>
                    <form action="{% url 'create_checkout_session' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="name" value="Sony Playstation 5 Pro White Version">
                        <input type="hidden" name="price" value="499.99">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Buy Now</button>
                    </form>
                </td>
            </tr> -->
        </tbody>
    </table>
{% endblock %}
